<a href="https://colab.research.google.com/github/swapnilbetkar/python/blob/Dev_Self/DecisionTree_Lect2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
from google.colab import drive

In [26]:
drive.mount('/content/drive/', force_remount=True)

Mounted at /content/drive/

In [27]:
import pandas as pd

In [58]:
dataset = pd.read_csv("/content/drive/MyDrive/Datasets/ChurnPrediction.csv")
pd.set_option('display.max_columns',None)
dataset.head()

,Age,PastEmployee,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,46,No,Travel_Rarely,Human Resources,5,2,Medical,2,Male,3,2,Human Resources,2,Divorced,5021,8,Yes,22,4,1,16,2,3,4,2,0,2
1,37,Yes,Travel_Rarely,Human Resources,6,4,Human Resources,3,Male,3,1,Human Resources,1,Divorced,2073,4,Yes,22,4,0,7,3,3,3,2,0,2
2,59,No,Non-Travel,Human Resources,2,4,Human Resources,3,Female,2,5,Manager,4,Married,18844,9,No,21,4,1,30,3,3,3,2,2,2
3,54,No,Non-Travel,Human Resources,26,3,Human Resources,4,Female,4,4,Manager,4,Single,17328,2,Yes,12,3,0,23,3,3,5,3,4,4
4,26,No,Travel_Rarely,Human Resources,25,1,Life Sciences,3,Female,3,1,Human Resources,3,Married,2942,1,No,23,4,1,8,3,3,8,7,5,7

In [48]:
# Function to map columns to binary values
def binaryMapping(value):
  if value == 'Yes' or value == 'Female':
    return 1
  else:
    return 0

In [60]:
dataset['PastEmployee'] = dataset['PastEmployee'].apply(binaryMapping)
dataset['Gender'] = dataset['Gender'].apply(binaryMapping)
dataset['OverTime'] = dataset['OverTime'].map({'Yes':1,'No':0})
dataset.head()

,Age,PastEmployee,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,46,0,Travel_Rarely,Human Resources,5,2,Medical,2,0,3,2,Human Resources,2,Divorced,5021,8,1,22,4,1,16,2,3,4,2,0,2
1,37,1,Travel_Rarely,Human Resources,6,4,Human Resources,3,0,3,1,Human Resources,1,Divorced,2073,4,1,22,4,0,7,3,3,3,2,0,2
2,59,0,Non-Travel,Human Resources,2,4,Human Resources,3,0,2,5,Manager,4,Married,18844,9,0,21,4,1,30,3,3,3,2,2,2
3,54,0,Non-Travel,Human Resources,26,3,Human Resources,4,0,4,4,Manager,4,Single,17328,2,1,12,3,0,23,3,3,5,3,4,4
4,26,0,Travel_Rarely,Human Resources,25,1,Life Sciences,3,0,3,1,Human Resources,3,Married,2942,1,0,23,4,1,8,3,3,8,7,5,7

In [68]:
# Divide dataset into label and feature set

categoricalColumns = ['BusinessTravel','Department','EducationField','JobRole','MaritalStatus']
finalDF = pd.get_dummies(dataset, columns=categoricalColumns)
finalDF.head()

,Age,PastEmployee,DistanceFromHome,Education,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,JobRole_Healthcare Representative,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
0,46,0,5,2,2,0,3,2,2,5021,8,1,22,4,1,16,2,3,4,2,0,2,0,0,1,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0
1,37,1,6,4,3,0,3,1,1,2073,4,1,22,4,0,7,3,3,3,2,0,2,0,0,1,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0
2,59,0,2,4,3,0,2,5,4,18844,9,0,21,4,1,30,3,3,3,2,2,2,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
3,54,0,26,3,4,0,4,4,4,17328,2,1,12,3,0,23,3,3,5,3,4,4,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1
4,26,0,25,1,3,0,3,1,3,2942,1,0,23,4,1,8,3,3,8,7,5,7,0,0,1,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0

In [81]:
Y = finalDF['PastEmployee']
X = finalDF.drop('PastEmployee',axis=1)
print(X.shape)
print(Y.shape)

(1470, 45)
(1470,)