<a href="https://colab.research.google.com/github/swapnilbetkar/python/blob/Dev_Self/SVMHardMargin_ChurnPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
from google.colab import drive
drive.mount('/content/drive/', force_remount=True)

Mounted at /content/drive/

In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.figure_factory as ff
from sklearn.preprocessing import LabelEncoder
from imblearn.over_sampling import SMOTE
# from sklearn.ensemble import RandomForestClassifier
from imblearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
import warnings
from sklearn.svm import SVC
warnings.filterwarnings('ignore')

In [19]:
#import dataset
dataset = pd.read_csv("/content/drive/MyDrive/Datasets/ChurnPrediction.csv")
pd.set_option('display.max_columns',None)
dataset.head()
# print(dataset.info())

,Age,PastEmployee,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,46,No,Travel_Rarely,Human Resources,5,2,Medical,2,Male,3,2,Human Resources,2,Divorced,5021,8,Yes,22,4,1,16,2,3,4,2,0,2
1,37,Yes,Travel_Rarely,Human Resources,6,4,Human Resources,3,Male,3,1,Human Resources,1,Divorced,2073,4,Yes,22,4,0,7,3,3,3,2,0,2
2,59,No,Non-Travel,Human Resources,2,4,Human Resources,3,Female,2,5,Manager,4,Married,18844,9,No,21,4,1,30,3,3,3,2,2,2
3,54,No,Non-Travel,Human Resources,26,3,Human Resources,4,Female,4,4,Manager,4,Single,17328,2,Yes,12,3,0,23,3,3,5,3,4,4
4,26,No,Travel_Rarely,Human Resources,25,1,Life Sciences,3,Female,3,1,Human Resources,3,Married,2942,1,No,23,4,1,8,3,3,8,7,5,7

In [20]:
# Converting Categorical features into Numerical features
def converter(column):
    if column == 'Yes':
        return 1
    else:
        return 0

dataset['PastEmployee'] = dataset['PastEmployee'].apply(converter)
dataset['OverTime'] = dataset['OverTime'].apply(converter)
# We can also write - dataset['OverTime'] = dataset['OverTime'].map({'Yes':1, 'No':0})
dataset['Gender'] = dataset['Gender'].map({'Female':1, 'Male':0})
print(dataset.info())

categorical_features = ['BusinessTravel', 'Department','EducationField', 'JobRole', 'MaritalStatus']
final_data = pd.get_dummies(dataset, columns = categorical_features)
print(final_data.info())
print(final_data.head(2))

# Dividing dataset into label and feature sets
X = final_data.drop('PastEmployee', axis = 1) # Features
Y = final_data['PastEmployee'] # Labels
print(type(X))
print(type(Y))
print(X.shape)
print(Y.shape)

# Normalizing numerical features so that each feature has mean 0 and variance 1
feature_scaler = StandardScaler()
X_scaled = feature_scaler.fit_transform(X)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      1470 non-null   int64
 1   PastEmployee             1470 non-null   int64
 2   BusinessTravel           1470 non-null   object
 3   Department               1470 non-null   object
 4   DistanceFromHome         1470 non-null   int64
 5   Education                1470 non-null   int64
 6   EducationField           1470 non-null   object
 7   EnvironmentSatisfaction  1470 non-null   int64
 8   Gender                   1470 non-null   int64
 9   JobInvolvement           1470 non-null   int64
 10  JobLevel                 1470 non-null   int64
 11  JobRole                  1470 non-null   object
 12  JobSatisfaction          1470 non-null   int64
 13  MaritalStatus            1470 non-null   object
 14  MonthlyIncome            1470 non-null   int64
 15  NumCompaniesWorked       1470 non-null   int64
 16  OverTime                 1470 non-null   int64
 17  PercentSalaryHike        1470 non-null   int64
 18  PerformanceRating        1470 non-null   int64
 19  StockOptionLevel         1470 non-null   int64
 20  TotalWorkingYears        1470 non-null   int64
 21  TrainingTimesLastYear    1470 non-null   int64
 22  WorkLifeBalance          1470 non-null   int64
 23  YearsAtCompany           1470 non-null   int64
 24  YearsInCurrentRole       1470 non-null   int64
 25  YearsSinceLastPromotion  1470 non-null   int64
 26  YearsWithCurrManager     1470 non-null   int64
dtypes: int64(22), object(5)
memory usage: 310.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 46 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                1470 non-null   int64
 1   PastEmployee                       1470 non-null   int64
 2   DistanceFromHome                   1470 non-null   int64
 3   Education                          1470 non-null   int64
 4   EnvironmentSatisfaction            1470 non-null   int64
 5   Gender                             1470 non-null   int64
 6   JobInvolvement                     1470 non-null   int64
 7   JobLevel                           1470 non-null   int64
 8   JobSatisfaction                    1470 non-null   int64
 9   MonthlyIncome                      1470 non-null   int64
 10  NumCompaniesWorked                 1470 non-null   int64
 11  OverTime                           1470 non-null   int64
 12  PercentSalaryHike                  1470 non-null   int64
 13  PerformanceRating                  1470 non-null   int64
 14  StockOptionLevel                   1470 non-null   int64
 15  TotalWorkingYears                  1470 non-null   int64
 16  TrainingTimesLastYear              1470 non-null   int64
 17  WorkLifeBalance                    1470 non-null   int64
 18  YearsAtCompany                     1470 non-null   int64
 19  YearsInCurrentRole                 1470 non-null   int64
 20  YearsSinceLastPromotion            1470 non-null   int64
 21  YearsWithCurrManager               1470 non-null   int64
 22  BusinessTravel_Non-Travel          1470 non-null   uint8
 23  BusinessTravel_Travel_Frequently   1470 non-null   uint8
 24  BusinessTravel_Travel_Rarely       1470 non-null   uint8
 25  Department_Human Resources         1470 non-null   uint8
 26  Department_Research & Development  1470 non-null   uint8
 27  Department_Sales                   1470 non-null   uint8
 28  EducationField_Human Resources     1470 non-null   uint8
 29  EducationField_Life Sciences       1470 non-null   uint8
 30  EducationField_Marketing           1470 non-null   uint8
 31  EducationField_Medical             1470 non-null   uint8
 32  EducationField_Other               1470 non-null   uint8
 33  EducationField_Technical Degree    1470 non-null   uint8
 34  JobRole_Healthcare Representative  1470 non-null   uint8
 35  JobRole_Human Resources            1470 non-null   uint8
 36  JobRole_Laboratory Technician      1470 non-null   uint8
 37  JobRole_Manager                    1470 non-null   uint8
 38  JobRole_Manufacturing Director     1470 non-null   uint8
 39  JobRole_Research Director          1470 non-null   uint8
 40  JobRole_Research Scientist         1470 non-null   uint8
 41  JobRole_Sales Executive            1470 non-null   uint8
 42  JobRole_Sales Representative       1470 non-null   uint8
 43  MaritalStatus_Divorced             1470 non-null   uint8
 44  MaritalStatus_Married              1470 non-null   uint8
 45  MaritalStatus_Single               1470 non-null   uint8
dtypes: int64(22), uint8(24)
memory usage: 287.2 KB
None
   Age  PastEmployee  DistanceFromHome  Education  EnvironmentSatisfaction  \
0   46             0                 5          2                        2
1   37             1                 6          4                        3

   Gender  JobInvolvement  JobLevel  JobSatisfaction  MonthlyIncome  \
0       0               3         2                2           5021
1       0               3         1                1           2073

   NumCompaniesWorked  OverTime  PercentSalaryHike  PerformanceRating  \
0                   8         1                 22                  4
1                   4         1                 22                  4

   StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                 1                 16                      2
1                 0                  7                      3

   WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  \
0                3               4                   2
1                3               3                   2

   YearsSinceLastPromotion  YearsWithCurrManager  BusinessTravel_Non-Travel  \
0                        0                     2                          0
1                        0                     2                          0

   BusinessTravel_Travel_Frequently  BusinessTravel_Travel_Rarely  \
0                                 0                             1
1                                 0                             1

   Department_Human Resources  Department_Research & Development  \
0                           1                                  0
1                           1                                  0

   Department_Sales  EducationField_Human Resources  \
0                 0                               0
1                 0                               1

   EducationField_Life Sciences  EducationField_Marketing  \
0                             0                         0
1                             0                         0

   EducationField_Medical  EducationField_Other  \
0                       1                     0
1                       0                     0

   EducationField_Technical Degree  JobRole_Healthcare Representative  \
0                                0                                  0
1                                0                                  0

   JobRole_Human Resources  JobRole_Laboratory Technician  JobRole_Manager  \
0                        1                              0                0
1                        1                              0                0

   JobRole_Manufacturing Director  JobRole_Research Director  \
0                               0                          0
1                               0                          0

   JobRole_Research Scientist  JobRole_Sales Executive  \
0                           0                        0
1                           0                        0

   JobRole_Sales Representative  MaritalStatus_Divorced  \
0                             0                       1
1                             0                       1

   MaritalStatus_Married  MaritalStatus_Single
0                      0                     0
1                      0                     0
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
(1470, 45)
(1470,)

In [21]:
model = Pipeline([
        ('balancing', SMOTE(random_state = 101)),
        ('classification', SVC() )
    ])

# grid_param = {'classification__n_estimators': [30,40,50,100,150]}
grid_param = {'classification__kernel': ['linear', 'poly', 'rbf', 'sigmoid'],
              'classification__C' : [0.1,0.01,0.001,0.0001]}
gd_sr = GridSearchCV(estimator=model,  param_grid=grid_param,scoring='recall', cv=5)

gd_sr.fit(X_scaled, Y)

best_parameters = gd_sr.best_params_
print(best_parameters)

best_result = gd_sr.best_score_ # Mean cross-validated score of the best_estimator
print(best_result)

{'classification__C': 0.001, 'classification__kernel': 'sigmoid'}
0.8312056737588651